.vs/
.vscode/
config.json
tags.json
_pycache__/
rfid_terminal_archive.log
rfid_terminal_live.log
*.docx
FONCTIONNALITES.txt
.gitignore
INFO0806_Projet_RFID_KRZANOWSKI_STEPHAN.*
KRZANOWSKI_STEPHAN_Sujet11
KRZANOWSKI_STEPHAN_Sujet11.*
Annexes.rar